@import url('bootstrap');
@import url('bootstrap-icons');


/*Typography*/
a {
    text-decoration: none;
}

.stars {
    color: goldenrod;
}


/*HEADER*/
header {

    margin-bottom: 3rem;

    .header-bcg {
        background-color: aliceblue;
    }

}


/*MAIN*/
main {
    margin-bottom: 3rem;

    .loader {
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        min-height: 75vh;

        .card {
            height: 500px;

            .card-img-top {
                height: 300px;
                border: 1px solid gray;
            }

            .text {
                padding: 10px;
                font-size: 0.8rem;
                overflow-y: hidden;
            }
        }
    }

    .my-card {
        min-height: 75vh;

        img {
            width: 300px;

        }


    }

    .review {
        margin-bottom: 1rem;
        background-color: whitesmoke;
        padding: 5px;
        border: 1px solid whitesmoke;
        border-radius: 15px;
        padding: 1rem;

    }

}


/*Footer*/
footer {
    padding-bottom: 1rem;
}