@import url('bootstrap');
@import url('bootstrap-icons');


/*Typography*/
a {
    text-decoration: none;
}


/*HEADER*/
header {

    margin-bottom: 3rem;

    .header-bcg {
        background-color: aliceblue;
    }

}


/*MAIN*/
main {
    margin-bottom: 3rem;
}